.contacto{
	background-color: $fondoCont;
}

#reparto {
		background-color: $fondoProdu;
		font-family: $fontMain;
		color: $darkBlue;
	}


.btn-thiamo {
	background-color: $keyColor;

	&:hover{
	background: linear-gradient(to top, $fondoNav,$secondaryColor);
	transition:  all 2s;
	cursor: pointer;
		}
}
